# Ignore the files containing data as they are too large  
Ashrae_tidyverse/building_metadata.csv
Ashrae_tidyverse/sample_submission.csv
Ashrae_tidyverse/test.csv
Ashrae_tidyverse/train.csv
Ashrae_tidyverse/weather_test.csv
Ashrae_tidyverse/weather_train.csv